<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zto.starunion.tools.dal.mapper.StrategyProjectAppMapper">
    <select id="listByStrategyProjectId" parameterType="java.lang.Long"
            resultType="com.zto.starunion.tools.pojo.vo.StrategyProjectAppVo">
        select
        c.id as id , c.ip as ip, b.id as appId, b.app_id as appAppId, b.path as path, b.package_name as packageName,
        b.port as port, a.id as strategyProjectId
        from strategy_project  as a
        right join app as b on a.project_id = b.project_id
        left join strategy_project_app as c on a.id = c.strategy_project_id and b.id = c.app_id
        where a.id = #{id}
    </select>

    <select id="getByStrategyProjectIdAndAppId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from strategy_project_app
        where strategy_project_id = #{strategyProjectId} and app_id = #{appId}
    </select>
</mapper>